# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Artifacts & DB
*.db
artifacts.db
*.log
*.sqlite
*.sqlite3

# Temporary Files
*.tmp
*.temp
temp/
tmp/
wab_report_*/
wab_corr_*/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS specific
Thumbs.db
Desktop.ini
.DS_Store

# User specific data
PATH.txt
